<!DOCTYPE html>
<html lang="en">
<script src="node_modules/angular/angular.js"></script>


<body>

<div ng-app="myApp" ng-controller="formCtrl">
  <form novalidate>
    First Name:<br>
    <input type="text" ng-model="user.firstName"><br>
    Last Name:<br>
    <input type="text" ng-model="user.lastName">
    <br><br>
   
  </form>
  <p>form = {{user}}</p>
  <p>master = {{master}}</p>
</div>



</body>
</html>
