<!DOCTYPE html>
<html lang="en">
<script src="node_modules/angular/angular.js"></script>

<body>

<div ng-app="" >
   
   <form name="myForm">
        Name:<input name="name" ng-model="myInput" required>
        Email <input name="myInput" ng-model="email" type="email" required>
    </form>

    <p>The input's valid state is:</p>
    <h1>{{myForm.myInput.$valid}}</h1>

</div>

</body>
</html>
