<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/angular.js"></script>
    <style>
        input.ng-pristine {
            background-color:yellow;
        }

        input.ng-touched.ng-invalid {
            background-color:red;
        }

        input.ng-touched.ng-valid {
            background-color:green;
        }
        
    </style>
    <script src="node_modules/angular/angular.js"></script>
</head>

 
<body ng-app="">
    

    <form name="studentForm" novalidate class="student-form">
        <label for="firstName">First Name: </label> <br />
        <input type="text" name="firstName" ng-model="student.firstName" ng-required="true" /> 
        <span ng-show="studentForm.firstName.$touched && studentForm.firstName.$error.required">First name is required.</span><br /><br />
        
        <label for="lastName">Last Name</label><br />
        <input type="text" name="lastName" ng-minlength="3" ng-maxlength="10" ng-model="student.lastName" />
        <span ng-show="studentForm.lastName.$touched && studentForm.lastName.$error.minlength">min 3 chars.</span>
        <span ng-show="studentForm.lastName.$touched && studentForm.lastName.$error.maxlength">Max 10 chars.</span><br /><br />
        
        <label for="dob">Email</label><br />
        <input type="email" id="email" ng-model="email" name="student.email" />
        <span ng-show="studentForm.email.$touched && studentForm.email.$error.email">Please enter valid email id.</span><br /><br />
         <button ng-disabled="studentForm.$invalid">Save</button>
    </form>


    <hr>

<br>
<b>form properties:</b><br>
<b>pristine:</b> {{studentForm.$pristine}} -No fields have been modified yet <br>
<b>dirty:</b> {{studentForm.$dirty}} -One or more have been modified <br>
<b>invalid:</b> {{studentForm.$invalid}} - The form content is not valid <br>  
<b>valid:</b> {{studentForm.$valid}} - The form content is valid <br> 
 
 

<br>
{{student}}
</body>
</html>

