<!DOCTYPE html>
<html>
<head>
    <script src="node_modules/angular/angular.js"></script>

    <style>
        input.ng-pristine {
            background-color:yellow;
        }

        input.ng-touched.ng-invalid {
            background-color:red;
        }

        input.ng-touched.ng-valid {
            background-color:green;
        }
        
    </style>
    

    <script>
        var app = angular.module('myApp', []);
        app.controller('formCtrl', function($scope,$http) {
            
            $scope.loading=false;
            $scope.datareceived=false;
            

            $scope.sendData = function (student) {
                url = "http://www.winelove.club/doc/html/testRestApi.php";
                $scope.loading=true;
                $http.post(url, student, {
                    headers : {
                        'Content-Type' : 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(function (response) {
                    $scope.loading=false;
                     $scope.datareceived=true;
                    console.log(response);
                });

            }
        });
    </script>


</head>

 
<body ng-app="myApp" ng-controller ="formCtrl">

    <div ng-show="loading==true">
        <img id="loading" src="https://demos.laraget.com/images/loading2.gif">
    </div>


     <div ng-show="datareceived==true">
       Data has been send it
    </div>


    
    <form ng-show="loading==false && datareceived==false" name="studentForm" novalidate class="student-form" >
        <label for="firstName">First Name: </label> <br />
        <input type="text" name="firstName" ng-model="student.firstName" ng-required="true" /> 
        <span ng-show="studentForm.firstName.$touched && studentForm.firstName.$error.required">First name is required.</span><br /><br />
        
        <label for="lastName">Last Name</label><br />
        <input type="text" name="lastName" ng-minlength="3" ng-maxlength="10" ng-model="student.lastName" />
        <span ng-show="studentForm.lastName.$touched && studentForm.lastName.$error.minlength">min 3 chars.</span>
        <span ng-show="studentForm.lastName.$touched && studentForm.lastName.$error.maxlength">Max 10 chars.</span><br /><br />
        
        <label for="dob">Email</label><br />
        <input type="email" id="email" ng-model="email" name="student.email" />
        <span ng-show="studentForm.email.$touched && studentForm.email.$error.email">Please enter valid email id.</span><br /><br />
         <button ng-disabled="studentForm.$invalid" ng-click="sendData(student)">Save</button>
    </form>


    <hr>
 
 

<br>
{{student}}
</body>
</html>

