<!DOCTYPE html>
<html>
<head>
 
<script src="node_modules/angular/angular.js"></script>

<script type="text/javascript">

    var app = angular.module('timeoutApp', []);
    app.controller('timeoutCtrl', function ($scope, $timeout) {
        $scope.msg="Hi Guest"
        $timeout(function () {
            $scope.msg = "Welcome to Tutlane.com";
        }, 3000);
    });
    
</script>
</head>
<body>
    <div ng-app="timeoutApp" ng-controller="timeoutCtrl">
        <p>AngularJS $timeout Function Example</p>
        <b>{{msg}}</b>
    </div>
</body>
</html>