<!DOCTYPE html>
<html>
<head>
 
    <script src="node_modules/angular/angular.js"></script>

    <script type="text/javascript">
        var app = angular.module('myCtrl', []);
        app.controller('intervalCtrl', function ($scope, $interval) {
            $scope.ptime = new Date().toLocaleTimeString();

            $interval(function () {
                $scope.ptime = new Date().toLocaleTimeString();
            }, 1000);

        });
    </script>
</head>

<body>
    <div ng-app="myApp" ng-controller="myCtrl">
    
        Current Time: <b>{{ptime}}</b>
    </div>
</body>
</html>